$colors: (
  primary:    #387ef5,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,
  vibrant:    rebeccapurple,
  bright:     #ffc125
);

.signin-btn {
  padding: 20px;
  background: chartreuse;
}

.emal{

}


.login {
  margin: 20px;
}

.input-class{
  margin:10px;
}
