<nav class="navbar navbar-light nav-background" >
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand title-color" [routerLink]="['/locker']" routerLinkActive="active-route">Locker-System</a>
        </div>
    </div>
</nav>
<ion-content>
    <div class="row m-25">
        <div class="col-6 offset-3">
            <div class="white-box">
                <div class="white-box-title text-center">
                    Login
                </div>
                <div class="row m-25">
                    <span class="label-title">Email:</span>
                    <input type="text" [(ngModel)]="email" placeholder="EMAIL" name="email" class="form-control" id="usr">
                </div>
                <div class="row m-25">
                    <span class="label-title">Password:</span>
                    <input type="password" [(ngModel)]="pass" name="pass" placeholder="PASSWORD" class="form-control" id="pwd">
                </div>
                <div class="row">
                    <div class="col-12 text-center m-25">
                        <button type="button" class="btn btn-success btn-lg" (click)="signIn()">Sign-In</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ion-content>
