.m-25{
  margin:25px;
}

.m-50{
  margin: 50px;
}

.table td, .table th {
    padding: .75rem;
    vertical-align: top;
    border: none !important;
}

.label-value {
    margin: 5px;
    font-size: 18px;
    font-family: initial;
    padding: 5px;
}

.box-assign{
  background-color: #7bff7b;
  box-shadow: 0 2px 5px rgba(37, 36, 36, 0.08);
}
