#head-navbar {
  width: 100%;
  white-space: normal;
  display: inline-block;
  overflow: hidden;
}

.scroll{
  overflow: scroll;
  height: 600px;
}

.background-green{
  background: #84e684;
}

.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
  pointer-events: none;
}
/* high-performance display:none; helper */
.gu-hide {
  left: -9999px !important;
}
/* added to mirrorContainer (default = body) while dragging */
.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}
/* added to the source element while its mirror is dragged */
.gu-transit {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}

.box-show{
  background-color: #fbb77c;
  box-shadow: 0 2px 5px rgba(37, 36, 36, 0.08);
}

.col-paddding{
  padding:10px !important;
}
.nav>li {
  display: inline-block;
  white-space: nowrap;
  margin: 20px;
}

ul.navbar-nav{
  display: inline-block;
}


.m-15{
  margin:15px;
}

.nav-background{
  background-color : #001d34;
}

.title-color{
  color:white;
}

.std-box{
  display: inline-block;
  border: 2px solid #adb5bd;
  padding: 15px;
  margin: 15px;
}

.box{
  border: 2px solid #adb5bd;
  padding: 5px;
  margin: 10px;
}

.label-title{
  margin: 5px;
  font-size: 20px;
  font-family: initial;
  padding: 5px;
  font-weight: bold;
}

.label-value{
  margin: 5px;
  font-size: 20px;
  font-family: initial;
  padding: 5px;
}
