.cursor-p{
  cursor:pointer;
}

img{
  width:120px;
}

#head-navbar {
  width: 100%;
  white-space: normal;
  display: inline-block;
  overflow: hidden;
}

.col-paddding{
  padding:10px !important;
}

.nav>li {
  display: inline-block;
  white-space: nowrap;
  margin: 20px;
}

ul.navbar-nav{
  display: inline-block;
}


.m-15{
  margin:15px;
}

.nav-background{
  background-color : #001d34;
}

.title-color{
  color:white;
}

.box{
  border: 2px solid #adb5bd;
  padding: 5px;
  margin: 10px;
}


.label-title{
  margin: 5px;
  font-size: 20px;
  font-family: initial;
  padding: 5px;
  font-weight: bold;
}

.label-value{
  margin: 5px;
  font-size: 20px;
  font-family: initial;
  padding: 5px;
}

.cursor-p{
  cursor:pointer;
}

.bs-datepicker-container{
  padding: 4px;
}

.inputDate{
  cursor:pointer;
  width:80%;
  outline:none;
  background: blue;
  border: 0;
}

.date-input{
  width:100%;
  height:100%;
}

.mt-20{
  margin-top:20px;
}

.date-boxd{
  background: blue;
  padding: 7px;
  display: inline-block;
  width: 134px;
  border-radius: 22px;
  text-align: center;

  .material-icons{
    font-size: 18px;
  }
}
